html, body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background: #A6D9F7;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
}
.wrapper {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
     justify-content: center;
    -webkit-box-align: center;
     -ms-flex-align: center;
      align-items: center;
}
.container {
    width: 800px;
    height: 500px;
    padding-bottom: 13rem;
}
.container-sign {
    width: 100%;
    height: 100%;
    background: #054A91;
    border-radius: 50px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, .2);
    position: relative;
    transition: 300ms;
}
.signin-signup {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    height: 100%;
    width: 100%;
    position: absolute;
}

.sign-up {
    color: white;
    font-size: 2.35em;
}

.sign-in, .sign-up {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-flex: 1;
    flex: 1 1 0;
    width: 100%;
    height: 100%;
 }
.sign-in {
    background:white;
}
.sign-up {
    z-index: 1;
}

.sign-in h2, .sign-up h2 {
    display: inline-block;
    box-sizing: border-box;
    padding: 8px;
    margin: 8px 0;
    width: 70%;
    font-size: 1.3em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: left;
}

.signin2-form{
    display: inline-block;
    box-sizing: border-box;
    padding: 8px;
    width: 100%;
    font-size: 0.85em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
}

b {
    display: inline-block;
    box-sizing: border-box;
    width: 70%;
    font-size: 0.85em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: left;
 }

.signin-form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
     align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
     -ms-flex-direction: column;
     flex-direction: column;   
    width: 100%;
}

.newanchor{
    text-align: left;
    padding-top: 20px;
    padding-left: 60px;
    position: fixed;
    width: 150px;
}
.newanchor2{
    text-align: right;
    padding-left: 90px;
    padding-top: 20px;
    width: 60%;
}

.btn-group-sm{
   display: inline-flex;
   text-align: right;
   margin-left: 140px;
   margin-bottom: 50px;
}

.btn.btn-primary_login{
    border: 2px solid #e8e8e9;
    outline: none;
    cursor: pointer;
    background: #ffffff;
    width: 70%;
    color: #000000;
    -webkit-transition: 300ms;
}
.btn.btn-primary_registers{
    border: 1px solid transparent;
    background: #10379b;
    outline: none;
    color: white;
    transition: 300ms;
    cursor: pointer;
}
.btn.btn-secondary{
    background: #10379b;
    width: 70%;
    color: white;
    padding: 12px 40px;
    border: 1px solid transparent;
    border-radius: 26px;
    font-size: .9em;
    text-transform: uppercase;
    margin-top: 16px;
    outline: none;
    transition: 300ms;
    cursor: pointer;
}

a:hover {
 cursor:pointer;

}
a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: .8em;
}

input {

    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box; 
    font-size: 12px;
    padding: 8px;
    margin: 8px 0;
    background: #e8e8e9;
    width: 70%;
    border-radius: 26px;
}

.psw .uname{
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: left;
    
}
