<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" type="image/png" href="./images/icons/favicon.ico" />

    <link rel="stylesheet" href="./stylesheets/css/style.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/vendor/select2/select2.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="limiter">
        <div class="backgroundframe">
            <div class="logframe">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="./images/img-01.png" alt="IMG">
                </div>
                <form class="login100-form validate-form">
                    <div class="row justify-content-end" style="padding-bottom: 30px">
                        <button type="button" id="log_btn" class="btn btn-outline-secondary">
                            Log In
                        </button>
                        <button type="button" id="reg_btn" class="btn btn-outline-primary">
                            Register
                        </button>
                    </div>
                    <span class="login100-form-title">
                        Register Account
                    </span>
                    <div class="form-group" style="padding-top: 15px">
                        <label for="InputName">Full Name</label>
                        <input type="name" class="form-control" id="names" placeholder="Enter your name"
                            style="border-radius:50px" required>
                        <div class="form-group" style="padding-top: 15px">
                            <label for="InputEmail">Email address</label>
                            <input type="email" class="form-control" id="emails" aria-describedby="emailHelp"
                                placeholder="Enter E-mail" style="border-radius:50px" required>
                            <div class="form-group" style="padding-top: 15px">
                                <label for="InputPassword">Password</label>
                                <input type="password" class="form-control" id="passs" placeholder="Enter Password"
                                    style="border-radius:50px" required>
                                <div class="form-group" style="padding-top: 15px;">
                                    <label for="InputPassword">Comfirm password</label>
                                    <input type="password" class="form-control" id="comfirmpass"
                                        placeholder="Re-type Password" style="border-radius:50px" required>
                                </div>
                                <button class="btn btn-primary" id="btnsignup"
                                    style="width: 100%; border-radius:50px">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
    <script src="./javascripts/script.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.3/firebase.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>

</html>