.backgroundframe {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.logframe {
    width: 960px;
    background: #FFFFFF;
    border-radius: 50px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px 130px 33px 95px;
}

.limiter {
    width: 100%;
    margin: 0 auto;
}

.login100-form-title {
    font-family: Poppins-Bold;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 30px;
}

.wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}

.login100-pic {
    width: 316px;
}

.login100-pic img {
    max-width: 100%;
}

.login100-form {
    width: 290px;
}

/*[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #999999;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #666666;
}

/* text size */
.p-t-12 {padding-top: 12px;}
.p-t-136 {padding-top: 136px;}

/*------------------------------------------------------------------
[ Responsive ]*/



@media (max-width: 992px) {
    .wrap-login100 {
      padding: 177px 90px 33px 85px;
    }
  
    .login100-pic {
      width: 35%;
    }
  
    .login100-form {
      width: 50%;
    }
  }
  
  @media (max-width: 768px) {
    .wrap-login100 {
      padding: 100px 80px 33px 80px;
    }
  
    .login100-pic {
      display: none;
    }
  
    .login100-form {
      width: 100%;
    }
  }
  
  @media (max-width: 576px) {
    .wrap-login100 {
      padding: 100px 15px 33px 15px;
    }
  }

/*********  Main Page CSS code Start From Here  **********/

.main_page_backgroundframe {
  width: 100%;
  min-height: 60%;
  padding: 10px;
  background: linear-gradient(225deg, #4149F6 22%, rgba(255, 255, 255, 0) 22%), #FFFFFF;
}

.main_page_logframe {
width: auto;
background: #FFFFFF;
}

.main_page_title{
position: absolute;
width: 500px;
height:60px;
left: 25px;
top: 30px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: normal;
color: #000000;
}

.main_page_title_2{
position: absolute;
width: 800px;
height: 80px;
left: 170px;
top: 100px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: normal;
color: #000000;
}

.main_page_username_information{
position: absolute;
width: 160px;
height: 46px;
right: 20px;
top: 20px;
padding: 10px;
font-size: medium;
background: #e9ecef;
}

.main_page_username {
width: 180px;
height: 20px;
left: 200px;
top: 200px;
text-align: center;
font-family: Roboto;
font-size: larger;
color: #000000;
}

a {
  padding-left: 10px;
}
.main_page_user_icons{
position: absolute;
width: 40px;
height: 40px;
left: 1710px;
top: 34px;
background: url(man.png);
}

.main_page_limiter {
width: auto;
height: auto;
margin: 0 auto;
}

/*********  Main Page CSS code End Up Here  **********/


